@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.02em;
  background-color: var(--primary-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
cite,
code,
img,
sub,
sup,
tt,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* Reset list styles */
ol,
ul {
  list-style: none;
}

/* Reset anchor styles */
a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  cursor: pointer;
  font: inherit;
}

/* Make images and embedded objects responsive */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select {
  font: inherit;
}

/* Reset table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.no-scroll {
  overflow: hidden;
}

:root {
  --primary-white: #fafafa;

  /* GREEN */
  --primary-green: #8baa36;
  --secondary-green: #8aa936;

  /* BLACK */
  --black: #000000;
  --primary-black: #23262a;
  --secondary-black: #22252a;
  --title-color: #001833;
  --number-black: #333333;

  /* GRAY */
  --primary-gray: #3e4462;
  --secondary-gray: #7e7e7e;
  --light-gray: #d9d9d9;
  --categories-gray: #bdbdbd;
  --pagination-color: #656565;

  /* INPUT */
  --input-red: #e74a3b;
  --input-green: #3cbc81;
  --input-yellow: #f6c23e;

  /* BACKGROUND */
  --background-light: #ececec;
  --background-dark: #1e1f28;
  --background-light-green: #ebf3d4;
  --modal-background: #2a2c36;

  /* HOVER/FOCUS */
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
